<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" herf="../public/stylesheet/restFront.css" />
</head>
<body>
    <nav>
        <a href="/">HOME</a>
        <a href="/about">About</a>
    </nav>
    <div>
        <from id="form">
            <input type="text" id="username">
            <button type="submit">등록</button>
        </from>
    </div>
    <div id="list"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/javascripts/restFront.js"></script>
    
</body>
</html>